################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kata/v17
/.vs/Kata/FileContentIndex
/.vs
/bin/Debug/net8.0
/Kata/obj
/Kata.Tests/obj
/Kata.Tests/bin/Debug/net8.0
